name: CI

on:
  push:
    branches: [ main ]

jobs:
  iac:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3

      - name: Terraform validate
        working-directory: iac
        run: |
          terraform init
          terraform validate
